extends ./layouts/standard.pug

block content

  .col-md-12.text-center
    case producto.tipo
      when 'servicios'
        h1 Servicios
      when 'invitacion-impresa'
        h1 Invitación Impresa
      when 'invitacion-digital'
        h1 Invitación Digital

  .col-md-10
    .col-md-6
      img(src='/images/'+producto.img, class="img-responsive")
      .row
        for foto in producto.galery
          .col-md-6
            img(src='/images/'+foto, class="img-responsive")
    .col-md-6
      h1=title
      p Nombre: #{producto.nombre}
      p Descripción: #{producto.descripcion}
      p Precio: #{'$'+producto.precio}

      