extends ./layouts/standard.pug

block content

  .container-fluid
    .col-md-12
      h2.text-center Servicios
      .row#contentServicios

      h2.text-center Invitación Impresa
      .row#contentInvImpresa

      h2.text-center Invitación Digital
      .row#contentInvDigital


  script(src="/javascripts/home.js")