h1 Error, no se encontro tu solicitud
p= detalles
img( class="img-responsive" src="https://previews.123rf.com/images/monicaclick/monicaclick1705/monicaclick170500023/79069305-perro-pug-con-amarillo-casco-y-cono-de-seguridad-constructor-y-error-404-y-callej%C3%B3n-sin-salida-en-poste.jpg", alt="error 404" width="100%")